target/
!.mvn/wrapper/maven-wrapper.jar

front_end/node_modules/
front_end/public/
src/main/resources/static/public/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
