

<div class="row" style="margin-top: 30px; margin-left: 50px; margin-right: 50px">

    <div class="col-xs-3 col-md-3"  style=" background: rgba(28, 54, 85, .9); height:100%;margin-top: 50px">
                <ul class="list-group list-unstyled">

                    <a href="#" class="list-group-item"style="margin-top: 10px"><li><span class="glyphicon glyphicon-dashboard"></span> Обзор</li></a>
                    <a href="#" class="list-group-item"><li><span class="glyphicon glyphicon-picture"></span> Запрoсы</li></a>
                    <a href="#" class="list-group-item"><li><span class="glyphicon glyphicon-gift"></span> Ответы</li></a>
                    <a href="#" class="list-group-item"><li><span class="glyphicon glyphicon-alert"></span> Ошибки</li></a>
                    <a href="#" class="list-group-item"style="margin-top: 20px"><li><span class="glyphicon glyphicon-user"></span> Регистрация</li></a>
                    <a href="#" class="list-group-item"><li><span class="glyphicon glyphicon-envelope"></span> Контакты</li></a>
                </ul>
    </div>
    <div class="col-xs-9 col-md-9">
        <div class="row">
            <div class="btn-group"style="margin-left: 35px">
                <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-time"></span> Выбрать период</button>
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Меню с переключением</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Час</a></li>
                    <li><a href="#">День</a></li>
                    <li><a href="#">Месяц</a></li>
                    <li class="divider"></li>
                    <li><a href="#">По умолчанию</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-12" *ngIf="chart" style="margin-left: 20px; margin-top: 20px">
            <canvas id="canvas">{{ chart }}</canvas>
        </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-12" *ngIf="chart" style="margin-left: 20px;margin-top: 20px">
                <canvas id="canvas2">{{ chart }}</canvas>
            </div>
        </div>
    </div>

</div>


