<div class="row" style="margin-top: 10px; margin-left: 30px; margin-right: 50px">

    <div class="col-xs-3 col-md-3"  style=" background: rgba(28, 54, 85, .9); height:100%;margin-top: 30px">
        <ul class="list-group list-unstyled">
            <a class="list-group-item"style="margin-top: 10px" (click)="ngOnInit()"><li><span class="glyphicon glyphicon-dashboard" style="cursor: pointer;"></span><span style="cursor: pointer"> Обзор</span></li></a>
            <a class="list-group-item"(click)="showRequest()"><li><span class="glyphicon glyphicon-picture" style="cursor: pointer"></span><span style="cursor: pointer"> Запрoсы</span></li></a>
            <a class="list-group-item"(click)="showResponse()"><li><span class="glyphicon glyphicon-gift" style="cursor: pointer"></span><span style="cursor: pointer"> Ответы</span></li></a>
            <a class="list-group-item"(click)="showErrors()"><li><span class="glyphicon glyphicon-alert" style="cursor: pointer"></span><span style="cursor: pointer"> Ошибки</span></li></a>
            <a [routerLink]="['/register']" class="list-group-item"style="margin-top: 20px"><li><span class="glyphicon glyphicon-user" style="cursor: pointer"></span><span style="cursor: pointer"> Регистрация</span></li></a>
            <a class="list-group-item"(click)="exitMonitoring()"><li><span class="glyphicon glyphicon-log-out"style="cursor: pointer"></span><span style="cursor: pointer"> Выход</span></li></a>

        </ul>
    </div>

    <div class="col-xs-9 col-md-9">
        <div class="row">
            <a *ngIf="condition">
                <div class="btn-group">
                    <ul id="main_nav">
                        <li>
                            <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-time"></span> Выбрать период
                                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Меню с переключением</span>
                                </button>
                            </button>
                            <ul>
                                <li><a (click)="showOverviewSecond()"><span style="cursor: pointer">Секунда</span></a></li>
                                <li><a (click)="showOverviewMinute()"><span style="cursor: pointer">Минута</span></a></li>
                                <li><a (click)="showOverviewHour()"><span style="cursor: pointer">Час</span></a></li>
                                <li class="divider"></li>
                                <li><a (click)="ngOnInit()"><span style="cursor: pointer">День</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </a>
            <p *ngIf="!condition">
            </p>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-12" *ngIf="chart" style="margin-left: 20px; margin-top: 20px">
                <canvas id="canvas">{{ chart }}</canvas>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-12" *ngIf="chart" style="margin-left: 20px;margin-top: 20px">
                <canvas id="canvas2">{{ chart }}</canvas>
            </div>
        </div>

    </div>

</div>

