<div class="row" style="margin-top: 10px; margin-left: 30px; margin-right: 50px">

    <div class="col-xs-3 col-md-3"  style=" background: rgba(28, 54, 85, .9); height:100%;margin-top: 30px">
        <ul class="list-group list-unstyled">
            <a [routerLink]="['/monitoring']" class="list-group-item" style="margin-top: 10px; cursor: pointer"><li><span class="glyphicon glyphicon-dashboard" style="cursor: pointer;"></span><span style="cursor: pointer"> Обзор</span></li></a>
            <a [routerLink]="['/request']" class="list-group-item" style="cursor: pointer"><li><span class="glyphicon glyphicon-arrow-right" style="cursor: pointer"></span><span style="cursor: pointer"> Запрoсы</span></li></a>
            <a [routerLink]="['/response']" class="list-group-item" style="cursor: pointer"><li><span class="glyphicon glyphicon-arrow-left" style="cursor: pointer"></span><span style="cursor: pointer"> Ответы</span></li></a>
            <a class="list-group-item" style="background: #f7f8f9;cursor: pointer"><li><span class="glyphicon glyphicon-alert" style="cursor: pointer"></span><span style="cursor: pointer"> Ошибки</span></li></a>
            <a [routerLink]="['/register']" class="list-group-item"style="margin-top: 20px; cursor: pointer"><li><span class="glyphicon glyphicon-user" style="cursor: pointer"></span><span style="cursor: pointer"> Регистрация</span></li></a>
            <a class="list-group-item"(click)="exitMonitoring()" style="cursor: pointer"><li><span class="glyphicon glyphicon-log-out"style="cursor: pointer"></span><span style="cursor: pointer"> Выход</span></li></a>

        </ul>
    </div>

    <div class="col-xs-9 col-md-9">
        <div class="row">
            <a *ngIf="condition">
                <div class="btn-group">
                    <div class="row">
                        <div class="col-xs-2 col-md-2">
                          <ul id="main_nav">
                            <li>
                            <button type="button" class="btn btn-default dropdown-toggle" id="dropdownMenu" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-time"></span> Выбрать период
                                <span class="caret"></span>
                                <!-- <span class="sr-only">Меню с переключением</span>-->
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                                <li><a (click)="chartClear();ngOnInit()" style="cursor: pointer; text-align: center">Минута</a></li>
                                <li><a (click)="showOverviewHour()" style="cursor: pointer; text-align: center">Час</a></li>
                                <li class="divider"></li>
                                <li><a (click)="showOverviewDay()" style="cursor: pointer; text-align: center">День</a></li>
                            </ul>
                            </li>
                           </ul>
                         </div>

                    <div class="col-xs-7 col-md-7">
                    <div class="form-group" style="margin-left: 130px; margin-top: 29px" >
                        <button  type="button" class="btn btn-default" (click)="showErrorLog()">Лог ошибок</button>

                        <app-dialog [(visible)]="showDialog">
                            <h2>Лог ошибок</h2>
                            <div class="span3">
                            <table class="table table-responsive table-hover table-condensed">
                                <!--  <ngx-loading [show]="loading" [config]="{ backdropBackgroundColour: 'rgba(0,0,0,0)', backdropBorderRadius: '10px',
                        primaryColour: 'rgb(161, 160, 160)', secondaryColour: 'rgb(161, 160, 160)', tertiaryColour: 'rgb(161, 160, 160)' }">
                                </ngx-loading>-->

                                <thead>
                                <tr>
                                    <td width="15%"> Name</td>
                                    <td width="15%"> Date</td>
                                    <td width="30%"> URL</td>
                                    <td width="40%"> Description</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let error of errors">
                                    <td>{{error.name}}</td>
                                    <td>{{error.time}}</td>
                                    <td>{{error.url}}</td>
                                    <td>{{error.description}}</td>
                                </tr>
                                </tbody>
                            </table>
                            </div>
                            <button (click)="showDialog = !showDialog" class="btn" routerLinkActive="active" style="margin-left: 30%; margin-top:8px " >Вернуться к обзору</button>
                        </app-dialog>
                      </div>
                     </div>
                    </div>
                </div>
            </a>
            <p *ngIf="!condition">
            </p>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-12" *ngIf="chart" style="background: white;margin-left: 20px; margin-top: 20px">
                <ngx-loading [show]="loading" [config]="{ backdropBackgroundColour: 'rgba(0,0,0,0)', backdropBorderRadius: '10px',
                        primaryColour: 'rgb(161, 160, 160)', secondaryColour: 'rgb(161, 160, 160)', tertiaryColour: 'rgb(161, 160, 160)' }">
                </ngx-loading>
                <canvas id="canvas">{{ chart }}</canvas>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-12" *ngIf="chart" style="background: white;margin-left: 20px;margin-top: 20px">
                <ngx-loading [show]="loading" [config]="{ backdropBackgroundColour: 'rgba(0,0,0,0)', backdropBorderRadius: '10px',
                        primaryColour: 'rgb(161, 160, 160)', secondaryColour: 'rgb(161, 160, 160)', tertiaryColour: 'rgb(161, 160, 160)' }">
                </ngx-loading>
                <canvas id="canvas2">{{ chart }}</canvas>
            </div>
        </div>

    </div>

</div>

